/***********************************************************************
*setingan dari style login.css yang digunakan form Login administrator**
/**********************************************************************/

/***********************************************************************
*settingan tampilan pada tag <body></body>                            **
***********************************************************************/
body {
background:gray;
background-image:url(../images/bgr2.jpg);
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
}

/***********************************************************************
*settingan tampilan pada tag link <a></a>                             **
***********************************************************************/
a:link {text-decoration:none;} /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:none;} /* mouse over link */
a:active {text-decoration:none;} /* selected link */

/***********************************************************************
*import font baru                                                     **
***********************************************************************/
@font-face { /* membuat variable font baru */
font-family: ravie; /* nama variabel dari font */
src: url(../font/ravie.ttf) /* alamat font */
}

/***********************************************************************
*setingan buat bayangan pada tag <form></form>                        **
***********************************************************************/
form {
width: 500px;
margin: 5px auto 0px;
border-radius: 25px 25px 25px 25px;
box-shadow: 0px 0px 10px #000000;
}

#judul{
width: 500px;
height:30px;
padding:5px;
font-family: ravie;
text-align:center;
color:white;
background:black;
margin: 200px auto 0px;
border: 5px solid grey;
border-radius: 25px 25px 25px 25px;
box-shadow: 0px 0px 10px #000000;
}

#mark{
width: 500px;
height:25px;
padding-top:10px;
font-weight: bold;
font-family: "Courier New", Courier, Monospace;
font-size:12px;
text-align:center;
color:white;
background:black;
margin: 5px auto 0px;
border: 5px solid grey;
border-radius: 25px 25px 25px 25px;
box-shadow: 0px 0px 10px #000000;
}

/***********************************************************************
*setingan untuk tag yang ber id="isi"                                 **
***********************************************************************/
#isi {
margin: 0px auto;
border: 0px solid black;
padding: 5px;
background: rgba(192, 192, 192, 0.4);
border: 1px solid black;
border-radius: 25px 25px 25px 25px;
}

/***********************************************************************
*setingan untuk tag <table></table>                                   **
***********************************************************************/
table {
font-family: ravie; /* dari nama variable font yang telah dibuat */
font-size: 15px;
padding: 0px;
width: 500px;
height: 100px;
margin: 0 auto;
color: black;
}

/***********************************************************************
*setingan untuk tag <tr></tr> atau "baris" pada tabel                 **
***********************************************************************/
tr {
width: 500px;
}

/***********************************************************************
*setingan untuk tag <td></td> atau "kolom" pada tabel                 **
***********************************************************************/
td {
border: 0px;
width: absolute;
text-align: left;
}

/***********************************************************************
*setingan untuk tag <input>                                           **
***********************************************************************/
input {
margin-right: 5px;
background: #C0C0C0 ;
border-radius: 10px 10px 10px 10px;
width: 250px;
}

input:hover { /* mouse over */
text-decoration:none;
box-shadow: 0px 0px 10px #000000;
}

/***********************************************************************
*setingan untuk tag yang ber id="button"                              **
***********************************************************************/
#button {
font-family: ravie;
margin-right: 0px;
background: #404040;
height: 25px;
border-radius: 10px 10px 10px 10px;
color: #C0C0C0;
}

/***********************************************************************
*setingan untuk tag yang ber id="buttonback"                          **
***********************************************************************/
#buttonback {
font-family: ravie;
margin-right: 0px;
background: rgba(0, 0, 0, 0.3);
width: 100%;
height: 25px;
border-radius: 10px 10px 10px 10px;
color: white;
}